# Place this file as st2microservices.yaml into /opt/stackstorm/configs directory and
# run 'st2ctl reload --register-configs'
---
  sumologic_access_id: "abcdefgh"
  sumologic_access_key: "asda234wefsdf"
